PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
SESSION_SECRET="szabist_nexus_secret_key_12345"
NODE_ENV="development"

# Email Configuration (e.g., Gmail with App Passwords)
SMTP_USER="your_email@szabist.pk"
SMTP_PASS="your_gmail_app_password"
