PORT=3000
DATABASE_URL="postgresql://neondb_owner:npg_IHo8sLBPUO2y@ep-wandering-morning-atynzros-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
SESSION_SECRET="szabist_nexus_secret_key_12345"
NODE_ENV="development"

# Email Configuration (e.g., Gmail with App Passwords)
SMTP_USER="bscs2412147@szabist.pk"
SMTP_PASS="dtyy koww qbdg xcbc"
